$icon-font-family: "ex-icons" !default;
$icon-font-path: "../fonts/" !default;

$icon-Throttle: "\e900";
$icon-Routes: "\e901";
$icon-Plug: "\e902";
$icon-Locomotive: "\e903";
$icon-Serial: "\e904";

